* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: Arial;
  background:black;
}
section {
  min-height: 100vh;
  background: radial-gradient(
  circle,
  #cfd3c1 0%,
  #969e7d 85%,
  #363a2d 100%
  );
  position: relative;
}
.sec-game{
  min-height: 150vh;
}
nav{
 background: transparent;
}
a{
  text-decoration: none;
}
h1{
  font-size: clamp(0.25rem, 3.5vw, 2.5rem);
}
h2{
  font-size: clamp(0.1rem, 2.3vw, 1.5rem);
}
h5{
  font-size: clamp(1rem, 4vw, 4rem);
}
.letter{
  font-family: 'Press Start 2P', cursive;
  color: #0f380f;
}
.btn-grey{
  height: clamp(10px, 10vw, 30px); 
    background: radial-gradient(circle,
    #505050 0%,
    #434343 10%,
    #292929 60%,
    #1a1a1a 100%
    );
  border-radius: 6px;
  color: #cfd3c1;
  box-shadow: 5px 7px 4px #272727;
}
.btn-mag{
  background: linear-gradient(110deg,
    #db2565 0%,
    #8b0d3d 40%,
    #300212 100%
    );
  color: #cfd3c1;
  box-shadow: 13px 5px 6px #29191e;
}
.flexG{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////MAIN SECTION//////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.maincontainer-grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
  '. main main main main main main .'
  '. main main main main main main .'
  '. main main main main main main .'
  '. main main main main main main .'
  '. main main main main main main .'
  '. main main main main main main .' 
  '. main main main main main main .'
  '. portfolio portfolio portfolio portfolio portfolio . .'
  '. . . . . . contact .'
  '. proyects proyects . about-me . contact .'
  '. skills skills . about-me . . .'
  '. . . . . . . .';

  gap: 20px;
  width: 100%;
  height: 100vh;
  padding: 4%;
}
.main{
  grid-area: main;
  align-items: center;
  border-radius: 15px 15px 80px 15px;
    background: radial-gradient(
    circle,
    #979797 0%,
    #535353 85%,
    #404040 100%
    );
  box-shadow: inset -1px -1px 5px 1px #999999, 0px 0px 4px 3px #242424;
}
.name{
  align-items: center;
  justify-content: center;  
  text-align: center;
  width: 50%;
  height: 85%;
  aspect-ratio: 1 / 1;
  background: radial-gradient(
    circle,
    #50e742 0%,
    #136817 85%,
    #145831 100%
    );
  box-shadow: 0 0 20px #88edb0;
  border-radius: 5px;
}
.main-description{
  font-size: clamp(0.1rem, 2.5vw, 1rem);
}
.portfolio{
  grid-area: portfolio;
  color: #302058;
}
.about-me{
  grid-area: about-me;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  aspect-ratio: 1;
  width: clamp(70px, 10vw, 180px); 
}
.contact{
  grid-area: contact;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; 
  aspect-ratio: 1;
  width: clamp(60px, 10vw, 155px); 
}
.proyects{
  grid-area: proyects;
  display: flex;
  align-items: center;
  justify-content: center;

}
.skills{
  grid-area: skills;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-name{
  font-size: clamp(0.3rem, 3vw, 2rem);
  font-weight: 500;
}
.portfolio-name span{
 font-weight: 100;
 font-style: italic;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////NAVBAR///////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.navbar-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
  'btnmain btnabout-me btnproyects btnskills btncontact';
  gap: 20px;
  width: 100%;
  padding: 2%;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-left: 2%;
  padding-right: 2%;
  background: transparent;
}
.nav-container{
  border-radius: 40px;
  box-shadow: 7px 8px 6px #29191e;
  font-size: clamp(1rem, 2.5vw, 2rem);
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}
.btnmain{
  grid-area: btnmain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btnabout-me{
  grid-area: btnabout-me;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btnproyects{
  grid-area: btnproyects;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btnskills{
  grid-area: btnskills;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btncontact{
  grid-area: btncontact;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////ABOUT ME CONT///////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.sticker{
  border: 1px solid gray;
  gap: 10px;
}
.about-me-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  'about-main about-main about-main habilities'
  'about-main about-main about-main habilities'
  'about-main about-main about-main habilities'
  'formation formation . habilities';
  
  gap: 20px;
  width: 100%;
  height: 100vh;
  padding: 8% 4% 2% 4%;
}
h5{
  text-align: center;
}
.about-me-main{
  grid-area: about-main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  color: #777c62;
  border: 5px solid #969e7d;
  border-radius: 1px;
  box-shadow: inset 12px 12px 16px 7px #4f5542, 5px 5px 5px 1px #363a2d;  
  background: radial-gradient(
  circle,
  #cfd3c1 0%,
  #969e7d 97%,
  #363a2d 100%
  );
}
.title-about-me{
  font-size: clamp(1rem, 3vw, 2.5rem);
}
.about-me-formation {
  grid-area: formation;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #251944;
  border-right: black;
  border-bottom: black;
  border-radius: 0px 50% 13% 0px;
  box-shadow: inset -15px 0px 6px 1px #161012, 10px 1px 3px 1px black;
  background:
  radial-gradient(circle at 30% 30%, rgba(255,255,255,0.35), transparent 45%),
  conic-gradient(
    from 0deg,
    #d48aa8,
    #d9c3a5,
    #b7d3b0,
    #a8d6db,
    #aabfe0,
    #c3b6d9,
    #d9b6d3,
    #f0eee9,
    #d9b3b3,
    #d48aa8
  );
}
.about-me-habilities {
  grid-area: habilities;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 1px 1px 1px black;
  color: #656954;
  border: 5px solid #969e7d;
  border-radius: 1px;
  box-shadow: inset 8px 4px 10px 6px #4f5542, 5px 5px 5px 1px #363a2d; 
  background: radial-gradient(
  circle,
  #cfd3c1 0%,
  #969e7d 85%,
  #363a2d 100%
  );

}
.logo-unitec{
  position: absolute;
  top: 74%;
  right: 27%;
  width: 24%;
  height: 24%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transform: rotate(340deg);
  z-index: 1;
}

.about-me-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  font-size: clamp(0.3rem, 2.5vw, 1rem);
  list-style: none;
}
.about-me-text{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.3rem, 2.5vw, 1rem);
  padding: 0.5%;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////PROYECTS CONT//////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.proyects-grid{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas:
  '. . . devs devs devs . . .'
  'radar radar radar virtmap virtmap virtmap mapfids mapfids mapfids'
  'radar radar radar virtmap virtmap virtmap mapfids mapfids mapfids'
  'radar radar radar virtmap virtmap virtmap mapfids mapfids mapfids'
  'radar radar radar virtmap virtmap virtmap mapfids mapfids mapfids'
  '. . . proyect proyect proyect . . .'
  'armrobot armrobot armrobot car car car general general general '
  'armrobot armrobot armrobot car car car general general general'
  'armrobot armrobot armrobot car car car general general general'
  'armrobot armrobot armrobot car car car general general general';

  gap: 10px;
  width: 100%;
  height: 140vh;
  padding: 8% 5% 0 5%;
}
.proyects-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 1px 1px 1px black;
  color: #656954;
  border: 5px solid #969e7d;
  border-radius: 1px;
  box-shadow: inset 8px 4px 10px 6px #4f5542, 5px 5px 5px 1px #363a2d; 
  background: radial-gradient(
  circle,
  #cfd3c1 0%,
  #969e7d 85%,
  #363a2d 100%
  );
  font-size: clamp(1rem, 3vw, 2.5rem);
}
.more-view{
  padding-top: 3px;
  text-decoration: underline;
}
/*******************************************GAME*****************************************************/
.game{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
  'rowleft name-game name-game name-game name-game name-game name-game rowright' 
  'rowleft name-game name-game name-game name-game name-game name-game rowright' 
  '. img-game img-game img-game img-game img-game img-game .'
  '. img-game img-game img-game img-game img-game img-game .'
  '. img-game img-game img-game img-game img-game img-game .'
  '. img-game img-game img-game img-game img-game img-game .'
  '. img-game img-game img-game img-game img-game img-game .'
  '. . . . . . . .';
    gap: 20px;
    width: 100%;
    padding: 8% 0% 2% 0%;
    border-radius: 10px;
    border-color: var(--borderColor);
    transition: transform 0.2s ease;

    clip-path: polygon(
    0 0,
    calc(100% - 40px) 0,
    100% 30px,
    100% 100%,
    0 100%
  );
}
.game:hover{
  transform: scale(1.1);
}
.color-game{
    background:
    linear-gradient(to bottom, var(--toBottomGame) 0%, transparent 5%),
    linear-gradient(to top, var(--toTopGame) 0%, transparent 90%),
    linear-gradient(to left, var(--toLeftGame) 0%, transparent 80%),
    linear-gradient(to right, var(--toRightGame) 0%, transparent 5%),
    var(--baseGame);
}
.color-name{
  background:
    linear-gradient(to bottom, var(--toBottomName) 0%, transparent 80%),
    linear-gradient(to top, var(--toTopName) 0%, transparent 10%),
    linear-gradient(to left, var(--toLeftName) 0%, transparent 10%),
    linear-gradient(to right, var(--toRightName) 0%, transparent 30%),
    var(--baseName);
  box-shadow: inset 6px 10px 20px 5px var(--shadowInset), 2px 1px 7px 1px var(--shadow);
  color: var(--colorName);
  text-shadow: 2px 1px 1px var(--shadowName);
}
.name-game{
  grid-area: name-game;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px;
  font-weight: 900;
  font-size: clamp(0.3rem, 2.5vw, 1.8rem);
}
.img-game{
  grid-area: img-game;
  width: 100%;
  height: 100%;
  display: flex;
}
.img-game img{
  width: 100%;
  height: 100%;
  display: block;
}
.rowleft{
  grid-area: rowleft;
    background: repeating-linear-gradient(
    to bottom,
    var(--lineLeft1) 20px,
    var(--lineLeft2) 10px,
    var(--lineLeft3) 30px
  );
  height: 100%;
  box-shadow: inset -2px 0 4px var(--shadowRows), 2px 2px 140px 10px rgb(255, 255, 255);
}
.rowright {
  grid-area: rowright;
    background: repeating-linear-gradient(
    to bottom,
    var(--lineRight1) 20px,
    var(--lineRight2) 10px,
    var(--lineRight3) 30px
  );
  height: 100%;
  box-shadow: inset 0 0 15px 2px var(--shadowRows);
}
/*****************************************PROYECTS**********************************************/
.devs{
  grid-area: devs;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.proyect-tit{
  grid-area: proyect;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*****RADAR*******/
.radar{
  grid-area: radar;
    --baseGame:  #131d79;
    --toBottomGame: #1b2285;
    --toTopGame: #0b0f47;
    --toLeftGame: #0e1358;
    --toRightGame: #1b2285;
  
  --borderColor: #0b0f50;
}
.radar-name{
  --baseName: #131d79;
  --toBottomName: #1b2285;
  --toTopName: #0e1358;
  --toLeftName: #1b2285;
  --toRightName: #0e1358;
  --shadowInset: #030425;
  --shadow: #3a41af;
  --colorName: #080b38;
  --shadowName: #080a2c;
}
.radar-fig-shadow{
  box-shadow: 0 0 4px 5px #030425;
}
.radar-rows-shadow{
  /*ROWRIGHR*/
  --lineRight1: #1b2285 ;
  --lineRight2: #1b2285;
  --lineRight3: #030425;
  /*ROWLEFT*/
  --lineLeft1: #1b2285;
  --lineLeft2: #030425;
  --lineLeft3: #1b2285;
  /*ROWSHADOW*/
  --shadowRows: #030425;
}
/******MAPAFIDS************/
.mapfids{
  grid-area: mapfids;
    --baseGame:  #d60a0a;
    --toBottomGame: #d60a0a;
    --toTopGame: #8a1111;
    --toLeftGame: #910f0f;
    --toRightGame: #d60a0a;

    --borderColor: #961313;
}
.mapfids-name{
  --baseName: #d60a0a;
  --toBottomName: #d60a0a;
  --toTopName: #961313;
  --toLeftName: #d60a0a;
  --toRightName: #961313;
  --shadowInset: #4b0505;
  --shadow: #d33535;
  --colorName: #630808;
  --shadowName: #5c0606;
}
.mapfids-fig-shadow{
  box-shadow: 0 0 4px 5px #580808;

}
.mapfids-rows-shadow{
  --lineRight1: #d60a0a ;
  --lineRight2: #d60a0a;
  --lineRight3: #580808;
  /*ROWLEFT*/
  --lineLeft1: #d60a0a;
  --lineLeft2: #580808;
  --lineLeft3: #d60a0a;
  /*ROWSHADOW*/
  --shadowRows: #580808;
}
/**************VIRTMAP****************/
.virtmap{
  grid-area: virtmap;
    --baseGame:  #64656d;
    --toBottomGame: #64656d;
    --toTopGame: #2f2f31;
    --toLeftGame: #3c3d41;
    --toRightGame: #64656d;

    --borderColor: #333438;
}
.virtmap-name, .general-name{
  --baseName: #53555f;
  --toBottomName: #64656d;
  --toTopName: #3c3d41;
  --toLeftName: #64656d;
  --toRightName: #3c3d41;
  --shadowInset: #242527;
  --shadow: #6e6e6e;
  --colorName: #363638;
  --shadowName: #242527;
}
.virtmap-fig-shadow, .general-fig-shadow{
  box-shadow: 0 0 4px 5px #101111;
}
.virtmap-rows-shadow, .general-rows-shadow{
  --lineRight1: #64656d;
  --lineRight2: #64656d;
  --lineRight3: #101111;
  /*ROWLEFT*/
  --lineLeft1: #64656d;
  --lineLeft2: #101111;
  --lineLeft3: #64656d;
  /*ROWSHADOW*/
  --shadowRows: #101111;
}
/**************ARMROBOT****************/
.armrobot{
  grid-area: armrobot;
    --baseGame:  #f53900;
    --toBottomGame: #f53900;
    --toTopGame: #882709;
    --toLeftGame: #922606;
    --toRightGame: #f53900;

    --borderColor: #922606;
}
.armrobot-name{
  --baseName: #f53900;
  --toBottomName: #fd420a;
  --toTopName: #922606;
  --toLeftName: #f53900;
  --toRightName: #922606;
  --shadowInset: #3f0f00;
  --shadow: #e25428;
  --colorName: #922606;
  --shadowName: #3f0f00;
}
.armrobot-fig-shadow{
  box-shadow: 0 0 4px 5px #3f0f00;
}
.armrobot-rows-shadow{
  --lineRight1: #f53900 ;
  --lineRight2: #f53900;
  --lineRight3: #3f0f00;
  /*ROWLEFT*/
  --lineLeft1: #f53900;
  --lineLeft2: #3f0f00;
  --lineLeft3: #f53900;
  /*ROWSHADOW*/
  --shadowRows: #3f0f00;
}
/**************CAR****************/
.car{
  grid-area: car;
    --baseGame:  #8b940b;
    --toBottomGame: #a6b10d;
    --toTopGame: #71790b;
    --toLeftGame: #838b08;
    --toRightGame: #a6b10d;

    --borderColor: #535805;
}
.car-name{
  --baseName: #a6b10d;
  --toBottomName:#a6b10d;
  --toTopName: #666d09;
  --toLeftName: #a6b10d;
  --toRightName: #71790b;
  --shadowInset: #535805;
  --shadow: #b3bb4a;
  --colorName: #535805;
  --shadowName: #535805;
}
.car-fig-shadow{
  box-shadow: 0 0 4px 5px #2e3102;
}
.car-rows-shadow{
  --lineRight1: #a6b10d;
  --lineRight2: #a6b10d;
  --lineRight3: #535805;
  /*ROWLEFT*/
  --lineLeft1: #a6b10d;
  --lineLeft2: #535805;
  --lineLeft3: #a6b10d;
  /*ROWSHADOW*/
  --shadowRows: #535805;
}
/**************GENERAL****************/
.general{
  grid-area: general;
    --baseGame:  #64656d;
    --toBottomGame: #64656d;
    --toTopGame: #2f2f31;
    --toLeftGame: #3c3d41;
    --toRightGame: #64656d;

    --borderColor: #333438;
}

/*/////////////////////////////////////////////MODAL TOOLS///////////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////SKILLS////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.section-skills{   
background: radial-gradient(
    circle,
    #979797 0%,
    #353535 85%,
    #333333 100%
    );
  box-shadow: inset -3px -3px 40px 10px #1f1e1e;
  position: relative;
}
.font-skill{
  font-size: clamp(0.2rem, 0.8vw, 0.9rem);
  padding-left: 3%;
}
.skills-screen{
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 85%;
  width: 90%;

    background: radial-gradient(
    circle,
    #50e742 0%,
    #136817 85%,
    #145831 100%
    );
  box-shadow: 0 0 20px #88edb0;
  border-radius: 5px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: 
  'language web screen screen plc soft'
  'language web screen screen plc soft'
  'language web screen screen plc soft'
  'language web screen screen plc soft'
  'language web db designe plc soft'
  'language web db designe plc soft'
  ;
  gap: 2px;
  padding: 1%;
  
}
.skill-grid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 7px groove #0f380f;
  height: 100%;
  width: 100%;
  min-width: 50px;
  gap: 10px;


    clip-path: polygon(
    20px 0,
    calc(100% - 20px) 0,
    100% 20px,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    20px 100%,
    0 calc(100% - 20px),
    0 20px
  );

}
.skill-li{

  display: flex;
  align-items: center;
  gap: 3px;

  position: relative;

  padding: 4% 10%;
  border-radius: 10px;
  background: none;
  border: none;

  font: inherit;       
  color: inherit;     

  cursor: pointer;

}
.skill-li::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 50%;

  transform: translateY(-50%) translateX(-10px); 
  opacity: 0;

  width: 20px;
  height: 16px;

  background: url("img/flecha.png") no-repeat center;
  background-size: contain;

  transition: transform 0.25s ease, opacity 0.25s ease;
}
.skill-li:hover::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%) translateX(0);

  width: 20px;
  height: 16px;

  background: url("img/flecha.png") no-repeat center;
  background-size: contain;

  opacity: 1;
  transition: 0.25s;
}

.skill-li img,
.skill-li span {
  transition: 0.3s;
}

.skill-li:hover img,
.skill-li:hover span {
  transform: translateX(10px);
}
.skill-li img{ 
  width: 20px;
  min-width: 6px;
  height: 20px;
  min-width: 6px;
  object-fit: contain;
}
.images{
  width: 50px;
  min-width: 6px;
  height: 30px;
  min-width: 6px;
  object-fit: contain;
}
.skill-li span{
  font-size: clamp(0.2rem, 1vw, 0.6rem);
}
.screen{
  grid-area: screen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  min-width: 200px;
}
.screen h2{
 position: absolute;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 top: 10%;
 left: 5%;
 right: 5%;
}
.font-screen{
  font-size: clamp(0.5rem, 1.2vw, 1.5rem);
}
.language{
  grid-area: language;

}
.web{
  grid-area: web;

}
.designe{
  grid-area: designe;

}
.db{
  grid-area: db;

}
.plc{
  grid-area: plc;

}
.soft{
  grid-area: soft;

}
/*************************LEVEL************************************************/

.skill-container img {
  width: 50px;
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 15px;
  font-family: 'Press Start 2P', monospace; /* opcional */
}

/* Marco tipo UI retro */
.barra {
  width: 220px;
  height: 20px;
  background: #50e742;
  border: 2px solid #000;
  position: relative;
  overflow: hidden;
}

/* Barra estilo pixel */
.nivel {
  height: 100%;
  width: 0;
  background: repeating-linear-gradient(
    to right,
    #145831  0px,
    #145831  10px,
    #145831  10px,
    #145831  20px
  );
  transition: width 0.6s steps(20); /* efecto “a saltos” */
}

/*////////////////////////////////*/
.blink{
  animation: blink-custom 5s infinite;
}

@keyframes blink-custom {
  0% { opacity: 1; }
  1% { opacity: 0; }
  2% { opacity: 1; }
  3% { opacity: 0; }
  4% { opacity: 1; }
  5% { opacity: 0; }
  6% { opacity: 1; }
  9% { opacity: 0; }
  12% { opacity: 1; }
  15% { opacity: 0; }
  20% { opacity: 1; }

  30% { opacity: 0; }
  35% { opacity: 1; }

  40% { opacity: 0; }
  45% { opacity: 1; }

  100% { opacity: 1; }
}
.blink2{
  animation: blink-custom 5s forwards;
}

@keyframes blink-custom {
  0% { opacity: 1; }
  1% { opacity: 0; }
  2% { opacity: 1; }
  3% { opacity: 0; }
  4% { opacity: 1; }
  5% { opacity: 0; }
  6% { opacity: 1; }
  9% { opacity: 0; }
  12% { opacity: 1; }
  15% { opacity: 0; }
  20% { opacity: 1; }

  30% { opacity: 0; }
  35% { opacity: 1; }

  40% { opacity: 0; }
  45% { opacity: 1; }

  100% { opacity: 1; }
}