* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: Arial;
  background:black;
}
section {
  min-height: 100vh;
  background: radial-gradient(
  circle,
  #cfd3c1 0%,
  #969e7d 85%,
  #363a2d 100%
  );
}
nav{
 background: transparent;
}
a{
  text-decoration: none;
}
h1{
  font-size: clamp(0.25rem, 3.5vw, 2.5rem);
  font-family: 'Press Start 2P', cursive;
  color: #0f380f;
}
h2{
  font-size: clamp(0.1rem, 2.3vw, 1.7rem);
}
h5{
  font-size: clamp(1rem, 4vw, 4rem);
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////MAIN SECTION//////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.container {
  border: 8px solid white;
  border-radius: 40px;
}
.maincontainer-grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas:
  '. main main main main main main .'
  '. main main main main main main .'
  '. main main main main main main .'
  '. main main main main main main .' 
  '. main main main main main main .'
  '. portfolio portfolio portfolio portfolio portfolio . .'
  '. . . . . . contact contact'
  '. proyects proyects . about-me about-me contact contact'
  '. skills skills . about-me about-me . .'
  '. . . . . . . .';

  gap: 20px;
  width: 100%;
  height: 100vh;
  padding: 4%;
}
.main{
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 80px 15px;
    background: radial-gradient(
    circle,
    #8a8a8a 0%,
    #535353 85%,
    #404040 100%
    );
}
.name{
  width: 50%;
  height: 85%;
  aspect-ratio: 1 / 1;
  background: radial-gradient(
    circle,
    #88edb0 0%,
    #18a14f 85%,
    #176437 100%
    );
  box-shadow: 0 0 15px #88edb0;
  text-align: center;
  padding-top: 5%;
  border-radius: 5px;
}
.main-description{
  font-size: clamp(0.1rem, 2.5vw, 1rem);
  font-family: 'Press Start 2P', cursive;
  font-style: italic;
  color: #0f380f;
  gap: 20px;
}
.portfolio{
  grid-area: portfolio;
  color: #302058;
}
.about-me{
  grid-area: about-me;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  aspect-ratio: 1;
  width: clamp(70px, 10vw, 170px); 
  background-color: #8b0d3d;
  border-color: #8b0d3d;
  color: #cfd3c1;
  box-shadow: 13px 4px 6px #29191e;
}
.contact{
  grid-area: contact;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; 
  aspect-ratio: 1;
  width: clamp(60px, 10vw, 155px); 
  background-color: #8b0d3d;
  border-color: #8b0d3d;
  color: #cfd3c1;
  box-shadow: 13px 4px 6px #29191e;
}
.proyects{
  grid-area: proyects;
  display: flex;
  align-items: center;
  justify-content: center;
  height: clamp(10px, 10vw, 30px); 
  background-color: #323232;
  border-color: #323232;
  border-radius: 6px;
  color: #cfd3c1;
  box-shadow: 8px 10px 4px #272727;
}
.skills{
  grid-area: skills;
  display: flex;
  align-items: center;
  justify-content: center;
  height: clamp(10px, 10vw, 30px); 
  background-color: #323232;
  border-color:#323232;
  border-radius: 6px;
  color: #cfd3c1;
  box-shadow: 8px 10px 4px #272727;
}
.portfolio-name{
  font-size: clamp(0.3rem, 3vw, 2rem);
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////NAVBAR///////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.navbar-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
  'btnmain btnabout-me btnproyects btnskills btncontact';
  gap: 20px;
  width: 100%;
  padding: 2%;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-left: 2%;
  padding-right: 2%;
   background: transparent;
}
.nav-container{
  background-color: #8b0d3d;
  border-color: #8b0d3d;
  color: #cfd3c1;
  box-shadow: 7px 8px 6px #29191e;
  font-size: clamp(1rem, 2.5vw, 2rem);
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}
.btnmain{
  grid-area: btnmain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btnabout-me{
  grid-area: btnabout-me;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btnproyects{
  grid-area: btnproyects;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btnskills{
  grid-area: btnskills;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btncontact{
  grid-area: btncontact;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////ABOUT ME CONT///////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.about-me-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  'about-main about-main about-main habilities'
  'about-main about-main about-main habilities'
  'about-main about-main about-main habilities'
  'formation formation . habilities';
  
  gap: 20px;
  width: 100%;
  height: 100vh;
  padding: 8% 4% 2% 4%;
}
h5{
  text-align: center;
}
.about-me-main{
  grid-area: about-main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  background-color: #8a8a8a;
  border-color: #8a8a8a;
  background:
    linear-gradient(to top, #484d3f 0%, transparent 7%),
    linear-gradient(to bottom, #484d3f 0%, transparent 7%),
    linear-gradient(to left, #484d3f 0%, transparent 3%),
    linear-gradient(to right, #484d3f 0%, transparent 3%),
    #9ca18d ;
  box-shadow: 0 0 10px #969e7d;
  color: #302058;
  gap: 10px;
  padding-top: 2%;
}
.about-me-formation {
  grid-area: formation;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #8a8a8a;
  border-color: #8a8a8a;
    background:
    linear-gradient(to top, #484d3f 0%, transparent 7%),
    linear-gradient(to bottom, #484d3f 0%, transparent 7%),
    linear-gradient(to left, #484d3f 0%, transparent 3%),
    linear-gradient(to right, #484d3f 0%, transparent 3%),
    #9ca18d ;
  color: #302058;
  gap: 10px;
  padding-top: 2%;
}
.about-me-habilities {
  grid-area: habilities;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background-color: #8a8a8a;
  border-color: #8a8a8a;
    background:
    linear-gradient(to top, #484d3f 0%, transparent 7%),
    linear-gradient(to bottom, #484d3f 0%, transparent 7%),
    linear-gradient(to left, #484d3f 0%, transparent 3%),
    linear-gradient(to right, #484d3f 0%, transparent 3%),
    #9ca18d ;
  color: #302058;
  gap: 10px;
  padding: 1%;
}
.about-me-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  font-size: clamp(0.3rem, 2.5vw, 1rem);
  list-style: none;
}
.about-me-text{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: clamp(0.3rem, 2.5vw, 1rem);
  padding: 1%;
}
.title-about-me{
  font-size: clamp(1rem, 3vw, 2.5rem);
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////PROYECTS CONT//////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.proyects-container{
  
}
.img-proyects{
  padding-top: 30px;
  max-width: 200px;
  max-height: 200px;
}
.proyects-place{
  padding-top: 20px;
  font-size: 35px;
}
.proyects-title{
  padding-top: 20px;
  font-size: 28px;
}
.more-view{
  padding-top: 23px;
  text-decoration: underline;
}
/*/////////////////////////////////////////////MODAL TOOLS///////////////////////////////////////////////////////*/
.modal{
  color: white;
  background-color: #5d7cca;
  border: 8px solid white;
  border-radius: 40px;
  position: relative; 
  top: -222px;
  left: -558px;
  width: 1607px;
  height: 750px;
  padding-top: 20px;
  z-index: 2000;
}
.modal-close{
  position: absolute;
  right: 0px;
  top: 0px;
  color: #5d7cca;
  background-color: white;
  border: 8px solid white;
  border-radius: 0px 0px 0px 30px;
  text-align: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
}
.btn-close{
  font-size: 30px;
  font-weight:900;
}
.img-content{
  position: absolute;
  border-radius: 30px;
  top: 60px;
  left: 40px;
  max-width: 500px;
  max-height: 300px;
}
.img-logo-tools{
  width: 50px;
  height: 50px;
}
.title-tools{
  position: absolute;
  font-size: 25px;
  left: 30px;
}
.proyects-list-tools{
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
  position: absolute;
  right: 40px;
  top: 60px;
  border: 8px solid white;
  border-radius: 40px;
  width: 350px;
  height: 630px;
  text-align: left;
  padding-left: 85px;
  padding-top: 40px;
  font-size: 25px;
}
.proyects-content{
  position: absolute;
  border: 8px solid white;
  border-radius: 40px;
  width: 617px;
  height: 630px;
  align-items: center;
  top:60px;
  right: 425px;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.proyects-radar{
  color: white;
  background-color: #5d7cca;
  border: 8px solid white;
  border-radius: 40px;
  position: absolute; 
  width: 515px;
  height: 400px;
  top: -7px;
  left: -588px;
  text-align: center;
  padding-top: 20px;
}
.proyect{
  border: 8px solid white;
  border-radius: 40px;
  position: relative; 
  width: 650px;
  height: 80px;
  top: 370px;
  right: 80px;
  text-align: center;
  padding-top: 10px;
}
/*////////////////////////////////*/
.blink{
  animation: blink-custom 5s infinite;
}

@keyframes blink-custom {
  0% { opacity: 1; }
  1% { opacity: 0; }
  2% { opacity: 1; }
  3% { opacity: 0; }
  4% { opacity: 1; }
  5% { opacity: 0; }
  6% { opacity: 1; }
  9% { opacity: 0; }
  12% { opacity: 1; }
  15% { opacity: 0; }
  20% { opacity: 1; }

  30% { opacity: 0; }
  35% { opacity: 1; }

  40% { opacity: 0; }
  45% { opacity: 1; }

  100% { opacity: 1; }
}