* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: Arial;
  background:black;
}
section {
  min-height: 100vh;
  background: radial-gradient(
  circle,
  #cfd3c1 0%,
  #969e7d 85%,
  #363a2d 100%
  );
}
.sec-game{
  min-height: 200vh;
}
nav{
 background: transparent;
}
a{
  text-decoration: none;
}
h1{
  font-size: clamp(0.25rem, 3.5vw, 2.5rem);
}
h2{
  font-size: clamp(0.1rem, 2.3vw, 1.5rem);
}
h5{
  font-size: clamp(1rem, 4vw, 4rem);
}
.letter{
  font-family: 'Press Start 2P', cursive;
  color: #0f380f;
}
.btn-grey{
  height: clamp(10px, 10vw, 30px); 
    background: radial-gradient(circle,
    #505050 0%,
    #434343 10%,
    #292929 60%,
    #1a1a1a 100%
    );
  border-radius: 6px;
  color: #cfd3c1;
  box-shadow: 5px 7px 4px #272727;
}
.btn-mag{
  background: linear-gradient(110deg,
    #db2565 0%,
    #8b0d3d 40%,
    #300212 100%
    );
  color: #cfd3c1;
  box-shadow: 13px 5px 6px #29191e;
}
.flexG{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////MAIN SECTION//////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.maincontainer-grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
  '. main main main main main main .'
  '. main main main main main main .'
  '. main main main main main main .'
  '. main main main main main main .'
  '. main main main main main main .'
  '. main main main main main main .' 
  '. main main main main main main .'
  '. portfolio portfolio portfolio portfolio portfolio . .'
  '. . . . . . contact .'
  '. proyects proyects . about-me . contact .'
  '. skills skills . about-me . . .'
  '. . . . . . . .';

  gap: 20px;
  width: 100%;
  height: 100vh;
  padding: 4%;
}
.main{
  grid-area: main;
  align-items: center;
  border-radius: 15px 15px 80px 15px;
    background: radial-gradient(
    circle,
    #979797 0%,
    #535353 85%,
    #404040 100%
    );
  box-shadow: inset -1px -1px 5px 1px #999999, 0px 0px 4px 3px #242424;
}
.name{
  align-items: center;
  justify-content: center;  
  text-align: center;
  width: 50%;
  height: 85%;
  aspect-ratio: 1 / 1;
  background: radial-gradient(
    circle,
    #50e742 0%,
    #136817 85%,
    #145831 100%
    );
  box-shadow: 0 0 15px #88edb0;
  border-radius: 5px;
}
.main-description{
  font-size: clamp(0.1rem, 2.5vw, 1rem);
}
.portfolio{
  grid-area: portfolio;
  font-style: italic;
  color: #302058;
}
.about-me{
  grid-area: about-me;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  aspect-ratio: 1;
  width: clamp(70px, 10vw, 180px); 
}
.contact{
  grid-area: contact;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; 
  aspect-ratio: 1;
  width: clamp(60px, 10vw, 155px); 
}
.proyects{
  grid-area: proyects;
  display: flex;
  align-items: center;
  justify-content: center;

}
.skills{
  grid-area: skills;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-name{
  font-size: clamp(0.3rem, 3vw, 2rem);
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////NAVBAR///////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.navbar-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
  'btnmain btnabout-me btnproyects btnskills btncontact';
  gap: 20px;
  width: 100%;
  padding: 2%;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-left: 2%;
  padding-right: 2%;
  background: transparent;
}
.nav-container{
  border-radius: 40px;
  box-shadow: 7px 8px 6px #29191e;
  font-size: clamp(1rem, 2.5vw, 2rem);
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}
.btnmain{
  grid-area: btnmain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btnabout-me{
  grid-area: btnabout-me;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btnproyects{
  grid-area: btnproyects;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btnskills{
  grid-area: btnskills;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btncontact{
  grid-area: btncontact;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////ABOUT ME CONT///////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.sticker{
  border: 1px solid gray;
  gap: 10px;
}
.about-me-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  'about-main about-main about-main habilities'
  'about-main about-main about-main habilities'
  'about-main about-main about-main habilities'
  'formation formation . habilities';
  
  gap: 20px;
  width: 100%;
  height: 100vh;
  padding: 8% 4% 2% 4%;
}
h5{
  text-align: center;
}
.about-me-main{
  grid-area: about-main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-right: black;
  border-bottom: black;
  border-radius: 0px 40% 20% 0px;
  box-shadow: inset -25px 0px 7px #271b20, 12px 4px 6px black;
background:
  radial-gradient(circle at 30% 30%, rgba(255,255,255,0.35), transparent 45%),
  conic-gradient(
    from 0deg,
    #d48aa8,
    #d9c3a5,
    #b7d3b0,
    #a8d6db,
    #aabfe0,
    #c3b6d9,
    #d9b6d3,
    #f0eee9,
    #d9b3b3,
    #d48aa8
  );
}
.about-me-formation {
  grid-area: formation;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 1px 0px 10px #3f2c35, 1px 1px 2px 0.5px black;
background:
  radial-gradient(circle at 70% 60%, rgba(255,255,255,0.28), transparent 50%),
  conic-gradient(
    from 120deg,
    #c98ca4,
    #d6c0a0,
    #aecfaa,
    #9fd0d6,
    #9fb6db,
    #bcaed4,
    #d4aecb,
    #ebe8e2,
    #d4aaaa,
    #c98ca4
  );
}
.about-me-habilities {
  grid-area: habilities;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 1px 0px 10px #3f2c35, 0px 0px 2px 0.5px black;
  background:
  radial-gradient(circle at 40% 75%, rgba(255,255,255,0.30), transparent 50%),
  conic-gradient(
    from 240deg,
    #c58fa8,
    #d2bfa3,
    #b2caaa,
    #a3cdd2,
    #a5b9d8,
    #bfb2d2,
    #d2b2c8,
    #e9e6df,
    #d2a8a8,
    #c58fa8
  );
}
.about-me-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  font-size: clamp(0.3rem, 2.5vw, 1rem);
  list-style: none;
}
.about-me-text{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.3rem, 2.5vw, 1rem);
  padding: 0.5%;
}
.title-about-me{
  font-size: clamp(1rem, 3vw, 2.5rem);
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////PROYECTS CONT//////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.proyects-grid{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
  '. . . devs devs devs devs . . .'
  'radar radar radar radar radar mapfids mapfids mapfids mapfids mapfids'
  'radar radar radar radar radar mapfids mapfids mapfids mapfids mapfids'
  'radar radar radar radar radar mapfids mapfids mapfids mapfids mapfids'
  'radar radar radar radar radar mapfids mapfids mapfids mapfids mapfids'
  'armrobot armrobot armrobot proyect proyect proyect proyect general  general general '
  'armrobot armrobot armrobot carctrhand carctrhand car car general general general'
  'armrobot armrobot armrobot carctrhand carctrhand car car general general general';
  gap: 10px;
  width: 100%;
  height: 200vh;
  padding: 8% 4% 2% 4%;
}
.game{
  display: block;
  height: 100px;
  width: 100px;
}
.devs{
  grid-area: devs;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.radar{
  grid-area: radar;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
  '. name-game name-game name-game name-game name-game name-game .' 
  '. name-game name-game name-game name-game name-game name-game .' 
  '. img-game img-game img-game img-game img-game img-game .'
  '. img-game img-game img-game img-game img-game img-game .'
  '. img-game img-game img-game img-game img-game img-game .'
  '. img-game img-game img-game img-game img-game img-game .'
  '. img-game img-game img-game img-game img-game img-game .'
  '. . . . . . . .';
    gap: 20px;
    width: 100%;
    padding: 8% 4% 2% 4%;
  background:
    linear-gradient(to top, #0b0f47 0%, transparent 90%),
    linear-gradient(to bottom, #1b2285 0%, transparent 5%),
    linear-gradient(to left, #0e1358 0%, transparent 80%),
    linear-gradient(to right, #1b2285 0%, transparent 5%),
    #131d79; /* color base */
    border-radius: 10px;
}
.img-game{
  grid-area: img-game;
  width: 100%;
  height: 100%; /* 👈 importante */
  display: flex;
  box-shadow: 0 0 5px 7px #030425;
}
.img-game img{
  width: 100%;
  height: 100%;
  display: block; /* quita espacios raros */
}
.name-game{
  grid-area: name-game;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px;
    background:
    linear-gradient(to bottom, #0e1358 0%, transparent 80%),
    linear-gradient(to top, #1b2285 0%, transparent 10%),
    linear-gradient(to right, #0e1358 0%, transparent 30%),
    linear-gradient(to left, #1b2285 0%, transparent 10%),
    #131d79;
  box-shadow: inset 6px 10px 20px 5px #030425, 2px 1px 7px 1px #171e7e;
}
.virtmap{
  grid-area: virtmap;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mapfids{
  grid-area: mapfids;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.proyect-tit{
  grid-area: proyect;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.armrobot{
  grid-area: armrobot;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.carctrhand{
  grid-area: carctrhand;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.car{
  grid-area: car;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.general{
  grid-area: general;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.proyects-place{
  font-size: 3px;
}
.proyects-title{
  font-size: 3px;
}
.more-view{
  padding-top: 3px;
  text-decoration: underline;
}
/*/////////////////////////////////////////////MODAL TOOLS///////////////////////////////////////////////////////*/
.modal{
  color: white;
  background-color: #5d7cca;
  border: 8px solid white;
  border-radius: 40px;
  position: relative; 
  top: -222px;
  left: -558px;
  width: 1607px;
  height: 750px;
  padding-top: 20px;
  z-index: 2000;
}
.modal-close{
  position: absolute;
  right: 0px;
  top: 0px;
  color: #5d7cca;
  background-color: white;
  border: 8px solid white;
  border-radius: 0px 0px 0px 30px;
  text-align: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
}
.btn-close{
  font-size: 30px;
  font-weight:900;
}
.img-content{
  position: absolute;
  border-radius: 30px;
  top: 60px;
  left: 40px;
  max-width: 500px;
  max-height: 300px;
}
.img-logo-tools{
  width: 50px;
  height: 50px;
}
.title-tools{
  position: absolute;
  font-size: 25px;
  left: 30px;
}
.proyects-list-tools{
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
  position: absolute;
  right: 40px;
  top: 60px;
  border: 8px solid white;
  border-radius: 40px;
  width: 350px;
  height: 630px;
  text-align: left;
  padding-left: 85px;
  padding-top: 40px;
  font-size: 25px;
}
.proyects-content{
  position: absolute;
  border: 8px solid white;
  border-radius: 40px;
  width: 617px;
  height: 630px;
  align-items: center;
  top:60px;
  right: 425px;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.proyects-radar{
  color: white;
  background-color: #5d7cca;
  border: 8px solid white;
  border-radius: 40px;
  position: absolute; 
  width: 515px;
  height: 400px;
  top: -7px;
  left: -588px;
  text-align: center;
  padding-top: 20px;
}
.proyect{
  border: 8px solid white;
  border-radius: 40px;
  position: relative; 
  width: 650px;
  height: 80px;
  top: 370px;
  right: 80px;
  text-align: center;
  padding-top: 10px;
}
/*////////////////////////////////*/
.blink{
  animation: blink-custom 5s infinite;
}

@keyframes blink-custom {
  0% { opacity: 1; }
  1% { opacity: 0; }
  2% { opacity: 1; }
  3% { opacity: 0; }
  4% { opacity: 1; }
  5% { opacity: 0; }
  6% { opacity: 1; }
  9% { opacity: 0; }
  12% { opacity: 1; }
  15% { opacity: 0; }
  20% { opacity: 1; }

  30% { opacity: 0; }
  35% { opacity: 1; }

  40% { opacity: 0; }
  45% { opacity: 1; }

  100% { opacity: 1; }
}